@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Is Repair";
}




<!-- new UI-->

<div class="page-content">
    <div class="content">
        @*<div class="main-box">*@
        <div>
            <div class="container">
                <div class="box-smartcares">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card_reader-image">
                                    <!--<figure class="text-center">

                                        <img src="~/asset/images/register_icon.png" class="img-fluid" alt="">
                                    </figure>-->
                                </div>
                            </div>
                            <div class="col-md-12 mb-lg-n5 pt-lg-5">
                                <div class="main-box-reader">
                                    <div class="box-reader">
                                        @*   <h1 class="reader-text">Have you registered from <br>our smartcares website?</h1>*@
                                        <h1 class="reader-text">Thank you for your visit. ​​</h1>
                                        <h1 class="reader-text">We're sorry we can't help you much.</h1>

                                        <div class="box-topup text-center mt-5 d-flex justify-content-center">
                                            <a onclick="window.location.href='@Url.Action("Index", "Home")';" class="btn-Retry w-50 ml-4 btn-yes text-white"><strong>Go Back</strong></a>
                                                                                    </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

